<div class="sidebar">
{% if site.forkmeribbon == "show" %}
  <div class="github-forkme">
    <a href="https://github.com/hemenkapadia/getbhavcopy" class="github-corner" aria-label="View source on Github" target="_blank">
      <svg width="60" height="60" viewBox="0 0 250 250" style="fill:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
      </svg>
    </a>
    <style>
      .github-corner:hover
      .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
      @media (max-width:500px){
        .github-corner:hover
        .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
    </style>
  </div>
{% endif %}
  <div class="container {% if site.sidemenutype == 'sticky' %} sidebar-sticky{% endif %}">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if page.title == "Getbhavcopy" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null and node.title != "Getbhavcopy" %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}.html">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <div class="sidebar-nav-social-container">
      <p class="sidebar-nav-social-container-followme">Follow me</p>
      <div class="sidebar-nav-social">
        {% if site.author.email %}
        <a href="mailto:{{ site.author.email }}" class="sidebar-nav-social-item" title="email" target="_blank"> <i class="fa fa-envelope-square fa-2x"></i> </a>
        {% endif %}
        {% if site.author.twitter %}
        <a href="https://twitter.com/{{ site.author.twitter }}" class="sidebar-nav-social-item" title="twitter" target="_blank"> <i class="fa fa-twitter-square fa-2x"></i> </a>
        {% endif %}
        {% if site.author.github %}
        <a href="https://github.com/{{ site.author.github }}" class="sidebar-nav-social-item" title="github" target="_blank"> <i class="fa fa-github-square fa-2x"></i> </a>
        {% endif %}
        {% if site.author.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" class="sidebar-nav-social-item" title="linkedin" target="_blank"> <i class="fa fa-linkedin-square fa-2x"></i> </a>
        {% endif %}
        {% if site.author.facebook %}
        <a href="https://www.facebook.com/{{ site.author.facebook }}" class="sidebar-nav-social-item" title="facebook" target="_blank"> <i class="fa fa-facebook-square fa-2x"></i> </a>
        {% endif %}
        {% if site.author.instagram %}
        <a href="https://www.instagram.com/{{ site.author.instagram }}" class="sidebar-nav-social-item" title="instagram" target="_blank"> <i class="fa fa-instagram fa-2x"></i> </a>
        {% endif %}
        {% if site.author.googleplus %}
        <a href="https://plus.google.com/{{ site.author.googleplus }}" class="sidebar-nav-social-item" title="google+" target="_blank"> <i class="fa fa-google-plus-square fa-2x"></i> </a>
        {% endif %}
        {% if site.author.youtube %}
        <a href="https://www.youtube.com/user/{{ site.author.youtube }}" class="sidebar-nav-social-item" title="youtube" target="_blank"> <i class="fa fa-youtube-square fa-2x"></i> </a>
        {% endif %}
        {% if site.author.stackoverflow %}
        <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}" class="sidebar-nav-social-item" title="stackoverflow" target="_blank"> <i class="fa fa-stack-overflow fa-2x"></i> </a>
        {% endif %}
        <a href="{{ site.baseurl}}/atom.xml" class="sidebar-nav-social-item" title="RSS Feed" target="_blank"> <i class="fa fa-rss-square fa-2x"></i> </a>
      </div>
    </div>
  </div>
</div>
